.mars-table {
  .ant-table,
  .ant-table-thead > tr > th {
    color: @mars-base-color;
    background: none !important;
  }

  .ant-table-row:nth-of-type(even) {
    background-color: @mars-bg-base;
  }

  .ant-table .ant-table-thead {
    background-color: @mars-select-bg;
  }

  .ant-table-tbody > tr.ant-table-placeholder > td {
    background: #141414;
  }

  .ant-table-row:hover > td,
  .ant-table-row-selected > td {
    background-color: transparent !important;
  }

  .ant-table-cell {
    border: none !important;
    background: transparent !important;
    padding: 10px 10px;
  }

  .ant-table-container {
    border: 1px solid @mars-primary-color !important;
    background: transparent !important;
  }

  .ant-table-placeholder > td {
    background: @mars-bg-base !important;
  }

  .ant-table-row:nth-last-child(1) .ant-table-cell {
    border-bottom: none;
  }
}
