.mars-input-number {
  color: @mars-basecolor;
  background-color: @form-input-background !important;
  border-color: @border-color-ordinary;
  .ant-input-number-handler {
    .anticon {
      color: @mars-basecolor;
    }
  }
  .ant-input-number-handler-wrap {
    background: none;
  }
}
