.top-handle-bar {
  border-bottom: 1px solid #cde1de;
  padding: 5px 0 2px 0;
}
.attr-editor-main {
  height: calc(100% - 40px);
  overflow-y: auto;
  * {
    font-size: 12px;
  }
  .mars-input-number,
  .mars-select {
    width: 100%;
  }
}

.position-title {
  border-left: 2px solid #ffffff;
  background-color: rgba(32, 42, 68, 0.5);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  .position-title__subfix {
    float: right;
    .mars-icon {
      cursor: pointer;
    }
  }
}
